:root {
    --bg: #101010;       /* Darkest background */
    --ui: #252525;       /* UI elements / Lines */
    
    --tx: #EAEAEA;       /* Main text (off-white) */
    --tx-2: #999999;     /* Secondary text (gray) */
    
    --main: #DA702C; 
    --main-hover: #A34E14;
    --accent: #8B7EC8;       

    --header-font: 'montserrat';
    --body-font: 'inter';
    --link-font: 'inter';
    --accent-font: 'doto';

    --cursor-main: url("_assets/cursor_main.png"), default;
    --cursor-hover: url("_assets/cursor_hover.png"), default;

    --content-width: 688px;
}

body.light-mode {
    --tx: #101010;
    --tx-2: #252525;
    
    --bg: #EAEAEA;
    --ui: #999999;
    
    --main: #5949a0;
    --main-hover: #8B7EC8;       
    --accent: #DA702C; 

    --cursor-main: url("_assets/cursor_hover.png"), default;
    --cursor-hover: url("_assets/cursor_main.png"), default;
}

@font-face {
    font-family: 'doto';
    src: url('_assets/fonts/doto.ttf')
        format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'montserrat';
    src: url('_assets/fonts/montserrat.ttf')
        format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'inter';
    src: url('_assets/fonts/inter.ttf')
        format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'space_grotesk';
    src: url('_assets/fonts/space_grotesk.ttf')
        format('truetype');
    font-weight: 300;
}

* {
    margin: 0px;
    padding: 0px;
    cursor: var(--cursor-main);
}

html {
    scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--bg);
}
::-webkit-scrollbar-thumb {
    background: var(--main);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main-hover);
}

h1, h2, h3, p, a {
    color: var(--tx);
}

body {
    background-color: var(--bg);
    margin: 0px;
    padding: 0px;
    padding-top: 80px; /* adjust for navbar */
}

h1 {
    font-family: var(--header-font);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 10;
    letter-spacing: -0.02em;
}

h3 {
    font-family: var(--accent-font);
}

p {
    font-family: var(--body-font);
    font-size: 1.0rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

a {
    font-family: var(--link-font);
}


ul, li {
    font-family: var(--body-font);
    font-size: 1.0rem;
}

header {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);

    height: 50px;
    width: 738px;
    max-width: calc(100% - 32px);
    padding: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg);

    z-index: 1000;
}
    header h2 {
        font-size: 1.8rem;
        color: var(--main);
        font-family: var(--accent-font);
    }
    header a {
        font-family: var(--body-font)
    }

nav ul {
    display: flex;
    align-items: center;
    gap: 1.0rem;

    margin: 0;
    padding: 0;
    list-style: none;

    color: var(--tx);
    font-family: var(--accent-font);
}
    nav ul a {
        text-decoration: none;
    }
    nav ul a:hover {
        color: var(--accent);
    }

.container {
    max-width: var(--content-width);
    margin: 0 auto;
}

.linebreak {
    display: block;
    height: 8px;
    background-color: var(--main);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 32px;
}
    .hero img {
        max-width: 200px;
        border: 0.5rem solid;
        border-radius: 40px;
        border-color: var(--main);
    }
    .hero h1 {
        font-size: 3.0rem;
        padding-left: 4px;
    }

footer {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
    footer .social-icons a:hover {
        color: var(--accent);
        cursor: var(--cursor-hover);
    }

.skills {
    display: flex;
    justify-content: center;
    gap: 2x;
}
    .skills-card {
        padding: 16px;
        flex: 1 1 0;
        }
        .skills-card h2 {
            font-family: var(--accent-font);
            font-size: 1.2rem;
            color: var(--main)
        }
        .skills-card p {
            color: var(--tx-2);
            line-height: 1.4rem;
            font-size: 0.9rem;
        }

.section {
    margin-top: 32px;
    margin-bottom: 32px;

    scroll-margin-top: 80px;
}
    .section h1 {
        font-size: 2.0rem;
    }
    .section h2 {
        font-family: 'space_grotesk';
        color: var(--main);
    }
    .section ul {
        color: var(--tx);
        padding: 0 32px;
        margin-bottom: 16px;
        color: var(--tx-2);
    }
        .section ul li {
            padding: 8px 0;
        }
        .section ul li::marker {
            content: '➤ ';
            font-size: 16px;
        }

    .section a:hover {
        color: var(--accent);
        cursor: var(--cursor-hover);
    }
    .section b {
        color: var(--main);
    }

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
    .project-grid .project h3 {
        color: var(--main);
    }
    .project-grid .project h4 {
        color: var(--tx);
    }
    .project-grid .project p {
        color: var(--tx-2);
    }
    .project-grid a {
        text-decoration: none;
    }
    .project-grid h5 {
        font-family: var(--header-font);
        color: var(--tx-2);
        padding-top: 4px;
    }

.project-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.project {
    border: 2px solid var(--tx-2);
    min-height: 15vh;
    padding: 8px;
    box-sizing: border-box;
    height: 100%;
}
    .project:hover {
        border: 2px solid var(--accent);
        transform: rotate(3deg);

        z-index: 10;
    }

.img-grid {
    display: grid;
    gap: 16px;
    
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    overflow-x: hidden;
    margin: 32px 0;
}
    .img-grid img {
        max-width: 344px;
        height: auto;

    }

.featured-img {
    max-width: inherit;
    overflow-x: hidden;
}
    .featured-img img {
        max-width: var(--content-width);
    }

.mode {
    position: fixed;
    bottom: 2vw;
    right: 2vw;

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main);
    color: var(--tx);
    border-radius: 16px;

    user-select: none;

    transition: all 0.2s ease;

    z-index: 100;
}
    .mode:hover {
        cursor: var(--cursor-hover);
        background: var(--main-hover);
    }

